<header>
	<nav>
		<ul>
			<li>
				<a href="{{ path('home') }}">Accueil</a>
			</li>
			<li>
				<p style="margin-bottom: 0; color: red; font-weight: bold;;"><a href="{{ path('tp') }}">TP</a>  <- le tp c'est ici</p>
			</li>
			<li>
				<a href="{{ path('blog') }}">Blog</a>
			</li>
			<li>
				<a href="{{ path('contact') }}">Contact</a>
				<ul>
					<li><a href="{{ path('contactVille', {city: "Mtp", name: "linkedin"}) }}">Contact Mtp via Linkedin</a></li>
					<li><a href="{{ path('contactVille', {city: "Mtp"}) }}">Contact Mtp</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>
